@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --font-afacad: "Afacad", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-afacad);
  background: #f7f6f3;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}
